div:hover {
    border-left: 10px solid black;
}

.black {
    background-color: black;
}
.red {
    background-color: red;
}
.purple {
    background-color: purple;
}
.brown {
    background-color: brown;
}
.aqua {
    background-color: aqua;
}
