div:hover {
    border-left: 10px solid black;
}

.black {
    background-color: black;
}
.red {
    background-color: red;
}
.purple {
    background-color: purple;
}
.brown {
    background-color: brown;
}
.aqua {
    background-color: aqua;
}

.black > h3 {
    color: white;
}
.red > h3 {
    color: aquamarine;
}
.purple > h3 {
    color: black;
}

.brown > h3 {
    color: aqua;
}
.aqua > h3 {
    color: blueviolet;
}